---
// src/components/GetInTouch.astro
// Component for the "Get In Touch" section

// Import the socialMedia data
export interface Props {
  title: string;
  socialMedia: {
    name: string;
    icon: string;
    url: string;
  }[];
}

const { title, socialMedia } = Astro.props;
---

<section id="contact" class="py-12">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold mb-6 text-accent-light">{title}</h2>
    <p class="text-lg text-white mb-8">Interested in collaborating? Send me a message!</p>
    <div class="flex justify-center space-x-8">
      {socialMedia.map(social => (
        <a href={social.url} target="_blank" rel="noopener noreferrer" class="text-white hover:text-accent-light transition duration-300">
          <span class="sr-only">{social.name}</span>
          <i class={`${social.icon === 'envelope' ? 'fa-solid' : 'fa-brands'} fa-${social.icon} text-4xl`} aria-hidden="true"></i>
        </a>
      ))}
    </div>
  </div>
</section>
